form(action="/user/changeAvatar", method="POST", enctype="multipart/form-data")

    label(for="nickname") nickname
    input#nickname(type="text", name="nickname")
    
    LABEL(for="avatar") avatar 
    input#file(type="file", name="file")
    button(type="submit") submit