form(action="/user/register", method="POST", enctype="multipart/form-data")
    label(for="email") email
    input#email(type="email", name="email")

    label(for="nickname") nickname
    input#nickname(type="text", name="nickname")

    label(for="full_name") fullname
    input#full_name(type="text", name="full_name")

    label(for="password") password
    input#password(type="password", name="password")

    LABEL(for="avatar") avatar 
    input#file(type="file", name="avatar")
    button(type="submit") submit